<%- include('./partials/main.header.ejs') %>
<%- include('./partials/main.backgound.ejs') %>

  <style>
    .reservationContent{
      font-weight: 400; 
      overflow: hidden; 
      text-overflow:ellipsis; 
      word-wrap: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 2 ;
          -webkit-box-orient: vertical;
    }
  </style>
  <% if (user_id) { %>
      <h1 class="text-center mt-5">예약 신청 내역 조회</h1>
        <% if (!data.AllReservations) { %>
          <h5 class="text-center mt-2">예약 일정을 꼭 확인하세요!</h5>
        <% } else { %>
          <h5 class="text-center mt-2">아직 예약 건이 없어요!</h5>
        <% } %>
      <div class="container">
        <div class="row storeInfo d-flex justify-content-center align-items-center">
          <% data.forEach(AllReservations=>{ %>
          <div class="storeCard card col-6 p-3 mx-2 my-3">
              <!-- ~~위 링크는 시터가 보는 예약 상세 페이지로 가야 됩니다. -->
            <div class="row p-3">
                <div class="col-auto col-8 p-2">
                  <a href="/reservation/<%= AllReservations.reserve_id %>">
                  <h4>예약번호 <%= AllReservations.reserve_id %></h4>
                  <h5><%= AllReservations.user.name %> 회원님</h5>
                  <p class="reservationContent"><%= AllReservations.res_comment %></p>
                  </a>
                </div>

                <div class="col middle_title text-end mt-2 .col-auto">
                  <h5 class="reserveDate"><%= AllReservations.reserve_date %></h5>

                  <% if (AllReservations.approved==='Yes') { %>
                    <button type="button" id="cancelRes" onclick="event.stopPropagation();" data-id="<%= AllReservations.reserve_id %>" class="btn btn-outline-danger reservation-button">승인취소</button>
                    <button type="button" id="completeRes" onclick="event.stopPropagation();" data-id="<%= AllReservations.reserve_id %>" class="btn btn-secondary reservation-button">일정완료</button>
                    <% } else if (AllReservations.approved==='No') { %>
                    <button type="button" id="approveRes" onclick="event.stopPropagation();" data-id="<%= AllReservations.reserve_id %>" class="btn btn-success reservation-button">예약승인</button>
                    <% } else if (AllReservations.approved==='Complete') { %>
                    <button type="button" class="btn btn-outline-secondary reservation-button">지난 일정</button>
                    <% } %>
                  
                   
                </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
  <% } else { %>
  <h1 class="text-center mt-5">로그인이 필요합니다.</h1>
    <% } %>

    <script>
      document.querySelectorAll('.reservation-button').forEach(button => {
        button.addEventListener('click', function() {
          const reserveId = this.getAttribute('data-id');
          let approvedValue;
          if (this.id === 'approveRes') {
            approvedValue = 'Yes';
          } else if (this.id === 'completeRes') {
            approvedValue = 'Complete';
          } else {
            approvedValue = 'No';
          }
          fetch(`/api/reservation/sitter/${reserveId}`, {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              approved: approvedValue,
            }),
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data);
            location.reload();  // 페이지 새로고침 코드
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        });
      });
      </script>
      


  <%- include('./partials/main.footer.ejs') %>