<%- include('./partials/main.header.ejs') %>
  <%- include('./partials/main.backgound.ejs') %>
    <style>
      /* input-group-text 클래스를 갖는 input 요소의 부모인 .datePickerContainer에 flex 스타일 추가 */
      .datePickerContainer {
        display: flex;
      }

      /* input-group-text 클래스를 갖는 input 요소가 가능한 최대 가로 공간을 차지하도록 설정 */
      .input-group-text {
        width: 100%;
      }

      .storeImgList {
        object-fit: cover;
        height: 258px;
        width: 100%;
      }
    </style>
    <div style="height: 20px"></div>
    <div class="container">
      <div class="card-columns row justify-content-md-center">
        <div class="store_place card col-8 p-3 mx-3">
          <!-- ==스토어정보 -->
          <div class="row titleImg align-items-center mx-4">
            <div class="col-auto">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxzE0-W4cDj64hPIMW9d5Jfc86aocVsxYq9Q&usqp=CAU"
                alt="profile_image" class="w-100 border-radius-lg shadow-sm"
                style="max-width: 80px; max-height: 80px" />
            </div>
            <div class="col-auto p-2">
              <h3 class="md-3">
                <%= store.title %>
              </h3>
              <p>
                <%= store.user.name %>
              </p>
            </div>
            <div class="row middle_title_editBTn">
              <div class="col middle_title mt-2">
                <h5>최고의 펫시터 <%= store.user.name %> 님을 만나보세요!</h5>
              </div>
              <div class="col WriterEdit text-end">
                <a href='/store/edit/<%= store.store_id %>'>
                  <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="수정하기"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="mainContent mx-5 mt-5">
            <p>
              <%= store.content %>
            </p>
            <hr class="horizontal gray-light my-4" />
            <h6 class="my-4">
              <%= store.user.name %> 님은 이런 사람이에요!
            </h6>
            <ul class="list-group">
              <li class="list-group-item border-0 ps-0 pt-0 text-sm">
                <strong class="text-dark">이름</strong> &nbsp; <%= store.user.name %>
              </li>
              <li class="list-group-item border-0 ps-0 text-sm">
                <strong class="text-dark">연락처</strong> &nbsp; <%= store.user.phone %>
              </li>
              <li class="list-group-item border-0 ps-0 text-sm">
                <strong class="text-dark">이메일</strong> &nbsp; <%= store.user.email %>
              </li>
              <li class="list-group-item border-0 ps-0 text-sm">
                <strong class="text-dark">가격</strong> &nbsp; <%= store.price %>
              </li>
              <li class="list-group-item border-0 ps-0 text-sm">
                <strong class="text-dark">반려동물</strong> &nbsp; <%= store.experience %>.
              </li>
              <li class="list-group-item border-0 ps-0 text-sm">
                <strong class="text-dark">주소</strong> &nbsp;
                <%= store.state +" " +store.city + " " +
            store.address %>
          </li>
        </ul>
        <hr class=" horizontal gray-light my-5" />
                <div class="row imgList">
                  <!-- 이미지2-->
                  <div class="container" style="width: 776px;">
                    <div class="row">
                      <% for(let key in store.images) { %>
                        <div class="col-4">
                          <!-- 이미지를 클릭하면 모달이 나타남 -->
                          <a href="#" data-bs-toggle="modal" data-bs-target="#<%= key %>Modal">
                            <img src="<%= store.images[key] %>" alt="<%= key %>"
                              class="img-fluid shadow border-radius-xl"
                              style="object-fit: cover; height: 258px; width: 100%;" />
                          </a>
                        </div>
                        <!-- 이미지 모달 -->
                        <div class="modal fade" id="<%= key %>Modal" tabindex="-1">
                          <div class="modal-dialog modal-dialog-centered" style="max-width: none;">
                            <div class="modal-content">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                style="width: 30px; height: 30px; color: gray;"">닫기</button>
                      <div class=" modal-body p-0">
                                <img src="<%= store.images[key] %>" alt="<%= key %>" class="img-fluid"
                                  onclick="var myModal = bootstrap.Modal.getInstance(this.parentNode.parentNode.parentNode.parentNode); myModal.hide();"
                                  onload="this.parentNode.parentNode.parentNode.style.width = this.width > window.innerWidth ? window.innerWidth : this.width + 'px';" />
                            </div>
                          </div>
                        </div>
                    </div>
                    <% } %>
                  </div>
                </div>
                <!-- 이미지 -->
          </div>
        </div>
        <!-- ==스토어정보 -->
      </div>
      <div class="col-3 p-3">
        <h3>예약하기</h3>
        <form class="reservationForm" method="post" action="/api/reservation/store/<%= store.store_id %>">
          <!-- <input class="input-group-text" type="text" name="store_id" value="<%= store.price %>" readonly /> -->
          <p>예약 일정</p>
          <div class="datePickerContainer">
            <input class="dateSelector input-group-text" type="text" name="reserve_date" placeholder="날짜를 선택하세요" />
          </div>
          <p>마리 수</p>
          <input class="input-group-text" type="number" name="cats" min="1" max="10" value="1" />
          <br />
          <p>코멘트</p>
          <input class="input-group-text" type="text" name="res_comment" value="잘부탁드려요!" />
          <br />
          <p>방문 시간</p>
          <input class="input-group-text" type="time" name="visit_time" min="09:00" max="20:00" value="14:00"
            required />
          <br />
          <p>픽업 시간</p>
          <input class="input-group-text" type="time" name="pickup_time" min="09:00" max="20:00" value="14:00"
            required />
          <br />
          <p>합계</p>
          <input class="input-group-text" type="text" name="total_price" value="50000" readonly />
          <br />
          <button class="btn btn-secondary btn-sm input-group-text" type="submit">예약하기</button>
        </form>
      </div>
    </div>
    </div>

<<<<<<< HEAD
    <!-- 리뷰 -->
    <div class="row justify-content-md-center">
      <div class="col-md-8 mt-4">
        <div class="card border">
          <div class="card-header pb-0 px-3">
            <h6 class="mb-0">펫시터님을 위한 리뷰공간!</h6>
          </div>
          <div class="card-body pt-4 p-3">
            <ul class="list-group">
              <% reviews.forEach((review)=> { %>
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">
                      <%= review.user.name %> 평점: <%= review.rating %>
                    </h6>
                    <span class="mb-2 text-xs">
                      <span class="text-dark font-weight-bold ms-sm-2">
                        <%= review.comment %>
                      </span>
                    </span>
                  </div>
                </li>
                <div class="ms-auto text-end">
                  <button class="btn btn-link text-danger text-gradient px-3 mb-0 delete-review-btn"
                    href="javascript:;"><i class="material-icons text-sm me-2">delete</i>Delete</button>
                  <button class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i
                      class="material-icons text-sm me-2">edit</i>Edit</button>
                </div>
                <% }); %>
            </ul>
          </div>
        </div>
=======
<!-- 리뷰 -->
<div class="row justify-content-md-center">
  <div class="col-md-8 mt-4">
    <div class="card border">
      <div class="card-header pb-0 px-3">
        <h6 class="mb-0">펫시터님을 위한 리뷰공간!</h6>
      </div>
      <div class="card-body pt-4 p-3">
        <ul class="list-group">
          <% reviews.forEach((review) => { %>
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">
                  <%= review.user.name %> 평점: <%= review.rating %>
                </h6>
                <span class="mb-2 text-xs">
                  <span class="text-dark font-weight-bold ms-sm-2"><%= review.comment %></span>
                </span>
              </div>
            </li>
            <div class="ms-auto text-end">
<!-- FIXME -->
<button type="button" id="delete_btn" data-id="<%= review.reservation.reserve_id %>/<%= review.review_id %>"
  class="deleteBtn btn btn-link text-danger text-gradient px-3 mb-0">Delete </button>
<!-- FIXME -->
              <button class="btn btn-link text-dark px-3 mb-0" href="javascript:;"
                ><i class="material-icons text-sm me-2">edit</i>Edit</button
              >
            </div>
          <% }); %>
        </ul>
>>>>>>> 5e4337bc288890698e5aab3064e7af2e9c87e7b9
      </div>
    </div>

    <script defer src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script defer src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
    <script>
      const originDate = '<%= store.able_date["date"] %>'
      console.log(originDate);
      document.addEventListener('DOMContentLoaded', function ()
      {
        let dateSelector = document.querySelector('.dateSelector');
        flatpickr(dateSelector, {
          position: 'above',
          mode: 'range',
          minDate: 'today',
          dateFormat: 'Y-m-d',
          disable: [
            function (date)
            {
              // disable every multiple of 8
              return !(date.getDate() % 8);
            },
          ],
          locale: 'ko',
        });
      });

      const deleteBtn = document.querySelector('#delete_btn');
      const storeId = '<%= store.store_id %>';

<<<<<<< HEAD
      document.querySelectorAll('.deleteBtn').forEach(button =>
      {
        button.addEventListener('click', function ()
        {
          const Id = this.getAttribute('data-id');
        })
      })
      deleteBtn.addEventListener('click', async () =>
      {
        const response = await axios.delete(`/store/${storeId}/reservation/${Id}`);
        location.reload();
      })
=======
  document.querySelectorAll('.deleteBtn').forEach(button => {
  button.addEventListener('click', function() {
    const reviewlinks = this.getAttribute('data-id');
    const userInput = window.prompt("정말로 삭제하시겠습니까? (확인을 원하시면 '확인'을 입력해주세요.)");
    if (userInput === '확인') {
      console.log(`/review/${storeId}/${reviewlinks}`);
      const response = axios.delete(`/review/${storeId}/${reviewlinks}`);
      location.reload();
    }
  })
})
>>>>>>> 5e4337bc288890698e5aab3064e7af2e9c87e7b9

      // 모달 창 열기
    </script>
    <%- include('./partials/main.footer.ejs') %>