<%- include('./partials/main.header.ejs') %>

<!-- <div class="container">
    <div class="col-8">
      <div class="allCards">
        <%  %>
        <% data.forEach(AllReservations=>{ %>
        <div id="cardList">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4"><%= AllReservations.reserve_id %></h5>
              <p class="card-subtitle mb-4"><%= AllReservations.approved %></p>
              <p class="card-subtitle mb-4"><%= AllReservations.res_comment %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div> -->

<%- include('./partials/footer.ejs') %>
