<tr>
  <td>
    <div class="d-flex px-2 py-1">
      <div>
        <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
      </div>
      <div class="d-flex flex-column justify-content-center">
        <h6 class="mb-0 text-sm">
          <%= store.user.name %>
        </h6>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <h6 class="mb-0 text-sm">
          &nbsp; ( <%= store.user.email %> )
        </h6>
      </div>
    </div>
  </td>
  <td>
    <p class="text-xs font-weight-bold mb-0">
      <%= store.user.phone %>
    </p>
  </td>
  <td class="align-middle text-center text-sm">

    <span class="badge badge-sm bg-gradient-success">
      <%= counts.find((x)=> x.store_id === store.store_id)._count.reserve_id %>
    </span>
  </td>

  <td class=" align-middle text-center text-sm">
    <span class="text-secondary text-xs font-weight-bold">
      <%= counts.find((x)=> x.store_id === store.store_id)._sum.total_price %>
    </span>
  </td>
  <td class="align-middle text-center">
    <span class="text-secondary text-xs font-weight-bold">
      <%= store.state +" " +store.city + " " + store.address%>
    </span>
  </td>
  <td class=" align-middle text-center">
        <span class="text-secondary text-xs font-weight-bold">
          <%= store.created_at %>
        </span>
  </td>

  <td class=" align-middle">
    <a href="/adm/sitter/<%= store.store_id%>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
      data-original-title="Edit user">
      Edit
    </a>
  </td>

</tr>