<div class="row storeInfo d-flex justify-content-center align-items-center">
  <div class="storeCard card col-10 p-3 mx-2 my-4">
    <a href="/store/<%= store.store_id %>">
      <div class="row p-2">
        <div class="row titleImg mx-2">
          <div class="col-auto p-2">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxzE0-W4cDj64hPIMW9d5Jfc86aocVsxYq9Q&usqp=CAU"
              alt="profile_image"
              class="w-100 border-radius-lg shadow-sm"
              style="max-width: 80px; max-height: 80px"
            />
          </div>
          <div class="col-auto col-7 p-1">
            <h3><%= store.title %></h3>
            <p class="reservationContent"><%= store.content %></p>
          </div>
          <div class="col middle_title text-end mt-2 .col-auto">
            <h5><%= store.user.name %> 시터님</h5>
          </div>
          <td class="align-middle text-center">
            <span class="text-sm text-xs"> <%= store.updated_at %> </span>
          </td>
        </div>
      </div>
    </a>
  </div>
</div>
